
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
</head>
<body>
    <h1 class="display-4">Welcome</h1>

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Our Routes</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Trucker" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Add new Trucker</a>
        </div>
        <br /><br />
       
    </div>
</body>






